:root {
    --blueColor: #943ee4;
    --blackColor: #131313;
    --whiteColor: #fff; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.highlight{
    border-bottom: 4px solid var(--blueColor);
}

/* dropdown Section */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity:1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu {
    padding: 0px 10px 10px 5px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: absolute;
    color: var(--whiteColor);
    left: 1.2rem;
    top: 100%;
    background-color: var(--blackColor);
    opacity: 0;
    transition: 0.3s ease-in, transform 0.15s ease-in;
    transform: translateY(-13px);
    pointer-events: none;
}


.dropdown-item  {
    display:flex;
    align-items:left;
    flex-direction: column;
    padding: 7px;

}
.dropdown-links {
    text-decoration: none;
    color: var(--whiteColor);
    transition: 0.3s ease-in-out;
}
.dropdown-links:hover {
    color: var(--blueColor);
}
.dropdown-content {
    list-style: none;
}

.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 35px;
}

#team_name {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease;
}

#team_name:hover {
    color: var(--blueColor);
    transition: all 0.3s ease;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_links {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    text-decoration: none;
    height: 80px;
    transition: all 0.3s ease
    border-bottom: 4px solid
}

.nav_links:hover {
    color: var(--blueColor);
    transition: all 0.3s ease;
}

.nav_item {
    height: 80px;

}

/* Team Name Section */

.team_section {
    background: var(--blueColor);
    padding: 60px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
}

.team_heading {
    font-size: 100px;
    color: #131313;
    margin-bottom: 24px;
}

.team_description {
    font-size: 40px;
}

/* Personal Info Section */

.personal_info {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.personal_info h1 {
    color: #131313;
    font-size: 2.5rem;
    padding-bottom: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr
}

.cards {
    font;
    margin: 
    height: 300px;
    width: 1200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content:inter-word
    transition: 0.3s ease-in;
    text-align:justify
}

.borderNeeded {
    padding:10px;
    border-style:solid;
    border-color:#000000;
}

.cards h2 {
    font-family: var(--)
    position: absolute;
    font-size: 30px;
    text-align: center;
}


.cards img {
    z-index: 100;
    position:sticky;
    opacity:0.5;
    font-size: 30px;
}


.info-wrapper {
    padding-bottom:100px;
}

