:root {
    --blueColor: #369ceb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.highlight{
    border-bottom: 4px solid var(--blueColor);
}
.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#team_name {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease;
}

#team_name:hover {
    color: var(--blueColor);
    transition: all 0.3s ease;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_links {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    text-decoration: none;
    height: 80px;
    transition: all 0.3s ease
}

.nav_links:hover {
    color: var(--blueColor);
    transition: all 0.3s ease;
}

.nav_item {
    height: 80px;

}

/* Team Name Section */

.team_section {
    background: var(--blueColor);
    padding: 200px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
}

.team_heading {
    font-size: 100px;
    color: #131313;
    margin-bottom: 24px;
}

.team_description {
    font-size: 40px;
}

/* Personal Info Section */

.personal_info {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.personal_info h1 {
    color: #131313;
    font-size: 2.5rem;
    padding-bottom: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



.cards {
    background-color: var(--whiteColor);
    margin: 10px;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
  
}





.cards h2 {
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 20px solid #03a9f4 ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 
}

a{
    text-decoration: none;
}

.cards p {
    padding: 10px;
}

.info-wrapper {
    padding: 10px;
}

.cards ul{
    position: relative;
    background: #fff;
}

.cards ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    text-shadow: 0 5px 25px rgba(0,0,0,.1)
    transition: transform;
}

.cards ul:hover li{
    opacity: 0.2;
}

.cards ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    text-shadow: 0 5px 25px rgba(0,0,0,.1)
    color: #fff;
    opacity: 1.3;
}

.cards ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    transform: translateY(-2px);
}


.cards ul li:hover span{
    background: #fff;
    color: #25bcff;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  letter-spacing: 5px;
  margin-left: 100px;
  margin-right: 100px;

}

p{
    font-size: 23px;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}